.the_name_of_the_tournament {
    font-family: 'Crimson Text', serif;
    font-size: 30px;
    margin-top: 10px;
}

.date {
    font-size: 15px;
    margin-top: 10px;
}
.text_tournament {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    padding: 15px;
}

.items {
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin-top: 20px;
    flex: 20%;
}

.item1 {
    text-align: center;
}