@media (min-width: 320px) and (max-width: 550px) {
    
	#Dota2News_4,.photo3,.blocks,.logotip,#losses,#total,.last_game,.dolya {
		display: none;
        }
    .filter__link {
        margin-left: 85px;
    }
}
    
@media screen and (max-width: 677px) {
    .logo {
        width: 60%;
    }
    
    .navbar-menu {
        margin-left: -160px;
    }
    .navbar-menu > ul li {
        margin-left: -20px;
    }
}

@media screen and (max-width: 590px) {
    
    .footer-distributed {
        margin-top: 2272px;
    }
    .logo {
        width: 50%;
    }
    .navbar-menu {
        margin-left: -130px;
    }
    .navbar-menu > ul li {
        margin-left: -20px;
    }
    .content {
        margin-left: 0px;
    }
    img.background {
        margin-left: -650px;
    }
}

@media screen and (max-width: 500px) {
    .main-nav a.cd-signin, .main-nav a.cd-signup {
        margin-left: 370px;
        width: 100px;
        height: 40px;
        margin-top: 33px;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 50em;
    }
}